---
interface Props {
  title: string;
  graduated: string;
  place: string;
  location: string;
}

const { graduated, location, place, title } = Astro.props;
---

<article class="article">
  <div class="details">
    <p>{title}</p>
    <p>{graduated}</p>
    <p>{place}</p>
    <p>{location}</p>
  </div>
  <div class="description">
    <slot />
  </div>
</article>