<header class="flex justify-between">
  <div>
    <h1 class="text-3xl font-bold">Nikita Iakunin</h1>
    <h2 class="text-xl">Fullstack Developer (React/Go)</h2>
  </div>
  <div class="text-right">
    <p>
      <a class="underline" href="tel:+4915753553799">+4915753553799</a>
    </p>
    <p>
      <a class="underline" href="mailto:nayakunin99@gmail.com"
        >nayakunin99@gmail.com</a
      >
    </p>
    <p>Berlin, Germany</p>
    <p>
      <a class="underline" href="https://t.me/nayakunin">Telegram</a>
    </p>
    <p>
      <a
        class="underline"
        href="https://www.linkedin.com/in/nikita-yakunin-30511b1b5/"
        >LinkedIn</a
      >
    </p>
  </div>
</header>
